<div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 m-2">
  <div class="company ml-3 m-1 d-flex justify-content-start align-items-center">
    <div class="company_logo">
      <a href="https://www.facebook.com/ekreativecompany/" target="_blank">
        <img class="company_image" src="{{event.logo_img}}" alt="">
      </a>
    </div>
    <div class="company_name ml-3">
      <a href="https://www.facebook.com/ekreativecompany/" target="_blank" title="Facebook page">
        <h2>{{event.company_name}}</h2>
      </a>
    </div>
  </div>
  <div class="event_image">
    <a href="#">
      <img class="img-fluid w-100" src="{{ event.img_link }}" alt="">
    </a>
  </div>
  <div class="description m-3 d-flex justify-content-start align-items-center">
    <div class="date d-flex flex-column align-items-center">
      <div class="date_number">
        <p>{{getShortDate(event.date)[0]}}</p>
      </div>
      <div class="date_month_name">
        <p>{{getShortDate(event.date)[1]}}</p>
      </div>
    </div>
    <div class="event_name ml-3">
      <a href="https://www.facebook.com/events/583393785514213/" target="_blank">
        <h1 class="text-muted">{{event.title}}</h1>
      </a>
    </div>
  </div>
</div>
